In [1]:
import pandas as pd
import requests 
from bs4 import BeautifulSoup as bs

In [93]:
url = "https://en.wikipedia.org/wiki/States_and_union_territories_of_India"

In [90]:
results = requests.get(url)
soup = bs(results.content, 'html.parser')

In [91]:
states = soup.find_all("table") #wikitable sortable plainrowheaders jquery-tablesorter
indian_states = states[3]

In [64]:
pd.set_option('display.max_columns', None)
df = pd.read_html(str(indian_states))
df = pd.DataFrame(df[0])
df.to_csv('Indian_states.csv')

#df2 = pd.read_html(url)
#df2[3]

In [2]:
df = pd.read_csv('Indian_states.csv')

In [3]:
df

,Unnamed: 0,State,ISO 3166-2:IN,Vehiclecode,Zone,Capital,Largest city,Statehood,Population(census 2011)[citation needed],Area(km2),Officiallanguages[39],Additional officiallanguages[39]
0,0,Andhra Pradesh,IN-AP,AP,Southern,Amaravati,Visakhapatnam,1 November 1956,49506799,160205,Telugu,—
1,1,Arunachal Pradesh,IN-AR,AR,North-Eastern,Itanagar,Itanagar,20 February 1987,1383727,83743,English,—
2,2,Assam,IN-AS,AS,North-Eastern,Dispur,Guwahati,26 January 1950,31205576,78550,Assamese,"Bengali, Bodo"
3,3,Bihar,IN-BR,BR,Eastern,Patna,Patna,26 January 1950,104099452,94163,Hindi,Urdu
4,4,Chhattisgarh,IN-CT,CG,Central,Raipur[a],Raipur[a],1 November 2000,25545198,135194,Chhattisgarhi,"Hindi, English"
5,5,Goa,IN-GA,GA,Western,Panaji,Vasco da Gama,30 May 1987,1458545,3702,Konkani,Marathi
6,6,Gujarat,IN-GJ,GJ,Western,Gandhinagar,Ahmedabad,1 May 1960,60439692,196024,Gujarati,—
7,7,Haryana,IN-HR,HR,Northern,Chandigarh,Faridabad,1 November 1966,25351462,44212,Hindi,Punjabi[40][41]
8,8,Himachal Pradesh,IN-HP,HP,Northern,Shimla (Summer)Dharamshala (Winter)[42],Shimla,25 January 1971,6864602,55673,Hindi,Sanskrit[43]
9,9,Jharkhand,IN-JH,JH,Eastern,Ranchi,Jamshedpur,15 November 2000,32988134,74677,Hindi,"Angika, Bengali, Bhojpuri, Bhumij, Ho, Kharia,..."
10,10,Karnataka,IN-KA,KA,Southern,Bangalore,Bangalore,1 November 1956,61095297,191791,Kannada,—
11,11,Kerala,IN-KL,KL,Southern,Thiruvananthapuram,Thiruvananthapuram,1 November 1956,33406061,38863,Malayalam,English[46]
12,12,Madhya Pradesh,IN-MP,MP,Central,Bhopal,Indore,26 January 1950,72626809,308252,Hindi,—
13,13,Maharashtra,IN-MH,MH,Western,Mumbai (Summer)Nagpur (Winter)[47][48],Mumbai,1 May 1960,112374333,307713,Marathi,—
14,14,Manipur,IN-MN,MN,North-Eastern,Imphal,Imphal,21 January 1972,2855794,22347,Meitei,English
15,15,Meghalaya,IN-ML,ML,North-Eastern,Shillong,Shillong,21 January 1972,2966889,22720,English,Khasi[b]
16,16,Mizoram,IN-MZ,MZ,North-Eastern,Aizawl,Aizawl,20 February 1987,1097206,21081,"English, Hindi, Mizo",—
17,17,Nagaland,IN-NL,NL,North-Eastern,Kohima,Dimapur,1 December 1963,1978502,16579,English,—
18,18,Odisha,IN-OR,OD,Eastern,Bhubaneswar,Bhubaneswar,26 January 1950,41974218,155820,Odia,—
19,19,Punjab,IN-PB,PB,Northern,Chandigarh,Ludhiana,1 November 1966,27743338,50362,Punjabi,—
20,20,Rajasthan,IN-RJ,RJ,Northern,Jaipur,Jaipur,26 January 1950,68548437,342269,Hindi,English
21,21,Sikkim,IN-SK,SK,North-Eastern,Gangtok,Gangtok,16 May 1975,610577,7096,"English, Nepali","Bhutia, Gurung, Lepcha, Limbu, Manggar, Mukhia..."
22,22,Tamil Nadu,IN-TN,TN,Southern,Chennai,Chennai,1 November 1956,72147030,130058,Tamil,English
23,23,Telangana,IN-TG,TS,Southern,Hyderabad[c],Hyderabad[c],2 June 2014,"35,193,978",114840,Telugu,Urdu[50]
24,24,Tripura,IN-TR,TR,North-Eastern,Agartala,Agartala,21 January 1972,3673917,10492,"Bengali, English, Kokborok",—
25,25,Uttar Pradesh,IN-UP,UP,Central,Lucknow,Lucknow,26 January 1950,199812341,243286,Hindi,Urdu
26,26,Uttarakhand,IN-UT,UK,Central,Bhararisain (Summer)Dehradun (winter)[51],Dehradun,9 November 2000,10086292,53483,Hindi,Sanskrit[52]
27,27,West Bengal,IN-WB,WB,Eastern,Kolkata,Kolkata,26 January 1950,91276115,88752,"Bengali, Nepali[d]","Hindi, Odia, Telugu, Punjabi, Santali, Urdu"

In [90]:
df['Additional officiallanguages[39]'] = df['Additional officiallanguages[39]'].str.replace(r'[^\w\s]+', '')
df['Population(census 2011)[citation needed]'] = df['Population(census 2011)[citation needed]'].str.replace(r'[^\w\s]+', '')
#df['Area(km2)'] = df['Area(km2)'].str.replace(r'[^\w\s]+', '')

In [91]:
df

,Unnamed: 0,State,ISO 3166-2:IN,Vehiclecode,Zone,Capital,Largest city,Statehood,Population(census 2011)[citation needed],Area(km2),Officiallanguages[39],Additional officiallanguages[39]
0,0,Andhra Pradesh,IN-AP,AP,Southern,Amaravati,Visakhapatnam,1 November 1956,49506799,160205,Telugu,Telugu
1,1,Arunachal Pradesh,IN-AR,AR,North-Eastern,Itanagar,Itanagar,20 February 1987,1383727,83743,English,English
2,2,Assam,IN-AS,AS,North-Eastern,Dispur,Guwahati,26 January 1950,31205576,78550,Assamese,Bengali Bodo
3,3,Bihar,IN-BR,BR,Eastern,Patna,Patna,26 January 1950,104099452,94163,Hindi,Urdu
4,4,Chhattisgarh,IN-CT,CG,Central,Raipur[a],Raipur[a],1 November 2000,25545198,135194,Chhattisgarhi,Hindi English
5,5,Goa,IN-GA,GA,Western,Panaji,Vasco da Gama,30 May 1987,1458545,3702,Konkani,Marathi
6,6,Gujarat,IN-GJ,GJ,Western,Gandhinagar,Ahmedabad,1 May 1960,60439692,196024,Gujarati,Gujarati
7,7,Haryana,IN-HR,HR,Northern,Chandigarh,Faridabad,1 November 1966,25351462,44212,Hindi,Punjabi4041
8,8,Himachal Pradesh,IN-HP,HP,Northern,Shimla (Summer)Dharamshala (Winter)[42],Shimla,25 January 1971,6864602,55673,Hindi,Sanskrit43
9,9,Jharkhand,IN-JH,JH,Eastern,Ranchi,Jamshedpur,15 November 2000,32988134,74677,Hindi,Angika Bengali Bhojpuri Bhumij Ho Kharia Khort...
10,10,Karnataka,IN-KA,KA,Southern,Bangalore,Bangalore,1 November 1956,61095297,191791,Kannada,Kannada
11,11,Kerala,IN-KL,KL,Southern,Thiruvananthapuram,Thiruvananthapuram,1 November 1956,33406061,38863,Malayalam,English46
12,12,Madhya Pradesh,IN-MP,MP,Central,Bhopal,Indore,26 January 1950,72626809,308252,Hindi,Hindi
13,13,Maharashtra,IN-MH,MH,Western,Mumbai (Summer)Nagpur (Winter)[47][48],Mumbai,1 May 1960,112374333,307713,Marathi,Marathi
14,14,Manipur,IN-MN,MN,North-Eastern,Imphal,Imphal,21 January 1972,2855794,22347,Meitei,English
15,15,Meghalaya,IN-ML,ML,North-Eastern,Shillong,Shillong,21 January 1972,2966889,22720,English,Khasib
16,16,Mizoram,IN-MZ,MZ,North-Eastern,Aizawl,Aizawl,20 February 1987,1097206,21081,"English, Hindi, Mizo",English Hindi Mizo
17,17,Nagaland,IN-NL,NL,North-Eastern,Kohima,Dimapur,1 December 1963,1978502,16579,English,English
18,18,Odisha,IN-OR,OD,Eastern,Bhubaneswar,Bhubaneswar,26 January 1950,41974218,155820,Odia,Odia
19,19,Punjab,IN-PB,PB,Northern,Chandigarh,Ludhiana,1 November 1966,27743338,50362,Punjabi,Punjabi
20,20,Rajasthan,IN-RJ,RJ,Northern,Jaipur,Jaipur,26 January 1950,68548437,342269,Hindi,English
21,21,Sikkim,IN-SK,SK,North-Eastern,Gangtok,Gangtok,16 May 1975,610577,7096,"English, Nepali",Bhutia Gurung Lepcha Limbu Manggar Mukhia Newa...
22,22,Tamil Nadu,IN-TN,TN,Southern,Chennai,Chennai,1 November 1956,72147030,130058,Tamil,English
23,23,Telangana,IN-TG,TS,Southern,Hyderabad[c],Hyderabad[c],2 June 2014,35193978,114840,Telugu,Urdu50
24,24,Tripura,IN-TR,TR,North-Eastern,Agartala,Agartala,21 January 1972,3673917,10492,"Bengali, English, Kokborok",Bengali English Kokborok
25,25,Uttar Pradesh,IN-UP,UP,Central,Lucknow,Lucknow,26 January 1950,199812341,243286,Hindi,Urdu
26,26,Uttarakhand,IN-UT,UK,Central,Bhararisain (Summer)Dehradun (winter)[51],Dehradun,9 November 2000,10086292,53483,Hindi,Sanskrit52
27,27,West Bengal,IN-WB,WB,Eastern,Kolkata,Kolkata,26 January 1950,91276115,88752,"Bengali, Nepali[d]",Hindi Odia Telugu Punjabi Santali Urdu

In [6]:
index = df[df['Additional officiallanguages[39]'] == ''].index
df['Additional officiallanguages[39]'][index] = df['Officiallanguages[39]'][index]
df.head()

<ipython-input-6-0ff46d606e73>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Additional officiallanguages[39]'][index] = df['Officiallanguages[39]'][index]
C:\Users\1852293\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,Unnamed: 0,State,ISO 3166-2:IN,Vehiclecode,Zone,Capital,Largest city,Statehood,Population(census 2011)[citation needed],Area(km2),Officiallanguages[39],Additional officiallanguages[39]
0,0,Andhra Pradesh,IN-AP,AP,Southern,Amaravati,Visakhapatnam,1 November 1956,49506799,160205,Telugu,Telugu
1,1,Arunachal Pradesh,IN-AR,AR,North-Eastern,Itanagar,Itanagar,20 February 1987,1383727,83743,English,English
2,2,Assam,IN-AS,AS,North-Eastern,Dispur,Guwahati,26 January 1950,31205576,78550,Assamese,Bengali Bodo
3,3,Bihar,IN-BR,BR,Eastern,Patna,Patna,26 January 1950,104099452,94163,Hindi,Urdu
4,4,Chhattisgarh,IN-CT,CG,Central,Raipur[a],Raipur[a],1 November 2000,25545198,135194,Chhattisgarhi,Hindi English

## Finding Population Density of each state

In [127]:
df['Population(census 2011)[citation needed]'] = pd.to_numeric(df['Population(census 2011)[citation needed]'])
def population_Density(pop,area):
    return round(pop/area,2)

df['Population Density']=np.vectorize(population_Density)(df['Population(census 2011)[citation needed]'],df['Area(km2)'])
df.head()

pandas.core.series.Series

## Largest city in every zone on the basis of area .

In [7]:
df[['Largest city', 'Area(km2)', 'Zone']].groupby('Zone').apply(display)

   Largest city  Area(km2)     Zone
4     Raipur[a]     135194  Central
12       Indore     308252  Central
25      Lucknow     243286  Central
26     Dehradun      53483  Central

   Largest city  Area(km2)     Zone
3         Patna      94163  Eastern
9    Jamshedpur      74677  Eastern
18  Bhubaneswar     155820  Eastern
27      Kolkata      88752  Eastern

   Largest city  Area(km2)           Zone
1      Itanagar      83743  North-Eastern
2      Guwahati      78550  North-Eastern
14       Imphal      22347  North-Eastern
15     Shillong      22720  North-Eastern
16       Aizawl      21081  North-Eastern
17      Dimapur      16579  North-Eastern
21      Gangtok       7096  North-Eastern
24     Agartala      10492  North-Eastern

   Largest city  Area(km2)      Zone
7     Faridabad      44212  Northern
8        Shimla      55673  Northern
19     Ludhiana      50362  Northern
20       Jaipur     342269  Northern

          Largest city  Area(km2)      Zone
0        Visakhapatnam     160205  Southern
10           Bangalore     191791  Southern
11  Thiruvananthapuram      38863  Southern
22             Chennai     130058  Southern
23        Hyderabad[c]     114840  Southern

     Largest city  Area(km2)     Zone
5   Vasco da Gama       3702  Western
6       Ahmedabad     196024  Western
13         Mumbai     307713  Western

Empty DataFrame
Columns: []
Index: []

In [8]:
df['Area(km2)'] = pd.to_numeric(df['Area(km2)'])


# largest city in every zone on the basis of area
#df['Zone'].unique()
idx = df.groupby(['Zone'])['Area(km2)'].transform(max) == df['Area(km2)']
Largest_city = df[idx].drop('Unnamed: 0', axis=1)
Largest_city.set_index('Zone', inplace = True)
Largest_city[['Largest city', 'Area(km2)']]

              Largest city  Area(km2)
Zone
North-Eastern     Itanagar      83743
Southern         Bangalore     191791
Central             Indore     308252
Western             Mumbai     307713
Eastern        Bhubaneswar     155820
Northern            Jaipur     342269

## Most used language

In [55]:
from collections import Counter

In [88]:
c=Counter()
for langs in df['Officiallanguages[39]']:
 
    lang=langs.split(', ')
    c.update(Counter(lang))
    
   
c.most_common(5)

[('Hindi', 9), ('English', 6), ('Telugu', 2), ('Bengali', 2), ('Assamese', 1)]

In [107]:
import numpy as np

In [99]:
df2 = pd.read_html(url)
df2=df2[4]

In [109]:
df2['Largest city'] = df2['Largest city'].str.replace(r'[^\w\s]+', '')
df2['Additional officiallanguages'] = df2['Additional officiallanguages'].str.replace(r'[^\w\s]+', '')

df2.replace(r'^\s*$', np.nan, regex=True)

,Union territory,ISO 3166-2:IN,Vehiclecode,Zone,Capital,Largest city,UT established,Population,Area(km2),Officiallanguages,Additional officiallanguages
0,Andaman and Nicobar Islands,IN-AN,AN,Southern,Port Blair,Port Blair,1 November 1956,380581,8249,Hindi,English
1,Chandigarh,IN-CH,CH,Northern,Chandigarh,NaN,1 November 1966,1055450,114,English,NaN
2,Dadra and Nagar Haveli and Daman and Diu,IN-DH,DD,Western,Daman,Daman,26 January 2020,586956,603,"Gujarati, English",Hindi Marathi
3,Delhi,IN-DL,DL,Northern,New Delhi,Delhi,1 November 1956,16787941,1490,"Hindi, English",Punjabi Urdu53
4,Jammu and Kashmir,IN-JK,JK,Northern,Srinagar (Summer)[54][55]Jammu (Winter)[55][56],Srinagar,31 October 2019,12258433,42241,"Kashmiri, Dogri, Urdu, Hindi, English",NaN
5,Ladakh,IN-LA,LA,Northern,Leh (Summer)Kargil (Winter)[57],Leh,31 October 2019,290492,59146,"Hindi, English",NaN
6,Lakshadweep,IN-LD,LD,Southern,Kavaratti,Kavaratti,1 November 1956,64473,32,"Malayalam, English",NaN
7,Puducherry,IN-PY,PY,Southern,Puducherry,Puducherry,16 August 1962,1247953,492,"Tamil, English",French58